#demo {
  box-shadow: 4px 4px 8px #d0ab9e, -4px -4px 8px rgba(255, 255, 255, 0.3);
  max-width: 1000px;
  margin: auto;
}

.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgba(78, 77, 77, 0.856);
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem;
}

@media (max-width: 767px) {
  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5rem;
  }
}

.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }
}

#image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  #image-caption {
    font-style: normal;
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}

#demo i {
  padding: 1.4rem;
  color: #0471bc;
}

@media (max-width: 767px) {
  i {
    padding: 0rem;
  }
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset;
}

/* Temporary Code */
a,
a:hover {
  text-decoration: none;
  color: #eb483f;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #eb483f !important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #eb483f !important;
}
.navbar-light .navbar-nav .nav-link {
  border-right: 1px solid #0471bc !important;
  line-height: 15px !important;
  font-weight: bolder !important;
  color: #0471bc !important;
  letter-spacing: 3px !important;
}

.fa-2x,
.fa-google {
  font-size: 1.3em !important;
}

.fa {
  color: #eb483f !important;
}

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.say-hello {
  border-right: none !important;
}

@media (min-width: 767px) {
  .team .col-md-4 {
    max-width: 29% !important;
  }
  .team-col {
    max-height: 460px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/* Temporary Code */
