body {
  font-family: "Lato", sans-serif;
  background-color: #f6caba;
  font-weight: 300;
}

.title {
  font-size: 2rem;
  line-height: 3.2rem;
  color: #0471bc;
  font-weight: 700;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.title,
footer span,
.footer-heading,
.virtual {
  letter-spacing: 3px;
}

.footer-heading {
  color: #eb483f;
  font-weight: bold;
}

.virtual {
  border-radius: 30px;
  border-color: transparent;
  background: radial-gradient(#eb483f 0% 2%, 2% 100% #fff);
  padding: 15px;
  color: #0471bc;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 5px 3px 20px #eb483f, -4px 1px 30px #eb483f;
  box-shadow: 4px 4px 8px #d0ab9e, -4px -4px 8px rgba(255, 255, 255, 0.1);
}

footer {
  background: linear-gradient(to top, #53c0d8, transparent),
    linear-gradient(to bottom, #f6caba, transparent);
  background-blend-mode: screen;
}

.services {
  background-image: url("../images/services.png");
  background-position: center center;
  background-size: cover;
  height: 400px;
}

.animation-img {
  border-radius: 100px 100px 300px 100px;
}

.virtual-img {
  border-radius: 300px 100px 100px 100px;
}

.box-shadow {
  background: linear-gradient(145deg, #ffd7c7, #ddb5a7);
  box-shadow: 4px 4px 8px #d0ab9e, -4px -4px 8px rgba(255, 255, 255, 0.1);
}

.icon-box {
  padding: 30px 40px;
  background: #f6caba;
  border-radius: 20px;
}

.subscribe-button {
  border-radius: 30px;
  border-color: transparent;
  background: #f5c9ba;
  padding: 10px;
  color: #eb483f;
}

.team-col {
  background-color: #fde2d6;
}

.team-description {
  font-size: 18px;
  line-height: 32px;
}

.team h5 {
  color: #0471bc;
  font-weight: bold;
}

.row-space {
  padding-top: 7.5rem;
}
